# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Database
DB_HOST = 127.0.0.1
DB_USERNAME = orbitchat
DB_PASSWORD = orbitchat
DB_PORT = 5432
DB_SCHEMA = public

# API
PORT=4000
VITE_API_URL=http://localhost:4000
VITE_GRAPHQL_URL=http://localhost:4000/graphql
FRONTEND_URL=http://localhost:5173

# Redis
REDIS_URL=redis://localhost:6379

# Segurança
JWT_SECRET=seu_jwt_secret_aqui

# App
APP_VERSION=0.1.0
NODE_ENV=development